extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Elijah Sellers

  
        p.lead.text-light
          | Full Stack JavaScript Developer.

     
        .portfolio-bio
          p
            | Hello, I'm an aspiring Software Engineer. My life has been computers since as long as I can remember. When I was younger I woke up and fiddled with computers. It led me to building my first computer when I was 12. It was an Addiction that I couldnt get rid of. It led me further down the rabbit hole to programming. I've been programming since I was about 13 mainly writing in C++ and Python. My Dream is to work on websites that everyone uses and find helpful and pleasing to the eye.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

  
        ul
          li Express
          li Reactjs
          li Javascript
          li C++
          li Java 
          li Python
          li HTML
          li CSS
          li Bootstrap4
        h6 Contact Info

      
        ul
          li 817-914-4330
          li sellers.elijahsellers@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/elijah-sellers-4a637b18b/') LinkedIn
        a.button.expanded(href='https://github.com/elijah798') GitHub
     
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  